{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.home'|trans }}
{% endblock %}

{% block body %}
    <div class="text-center">
    <pre>




________________________________________________________________________________________
________________________________________________________________________________________
________________________________________________________________________________________
_______Witaj na stronie głównej!________________________________________________________
______________________________________________________________▓▓▓▓▓▓____________________
__________________________________________________________▓▓▓▓░░░░▓▓____________________
________________________________________________________▓▓░░░░░░▓▓______________________
______________________██████████______________________▓▓░░░░░░▓▓________________________
____________________██▓▓▓▓▓▓▓▓▓▓██__________________▓▓░░░░░░▓▓__________________________
__________________██▓▓▓▓██████▓▓▓▓██______________▓▓░░░░░░▓▓____________________________
________________██▓▓▓▓██______██▓▓▓▓██__________▓▓░░░░░░▓▓______________________________
________________██▓▓▓▓██________██▓▓▓▓██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓______________
________________██▓▓▓▓▓▓████████▓▓▓▓▓▓▓▓██░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▓▓______________
__________________██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██░░██░░░░░░░░░░░░░░░░░░░░░░▓▓▓▓________________
____________________██████████████████████░░░░░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓____________________
__________________________________████▓▓▓▓██░░▓▓________________________________________
________________________________██▓▓▓▓▓▓▓▓▓▓██__________________________________________
______________________________██▓▓▓▓████▓▓▓▓██__________________________________________
____________________________██▓▓▓▓██____██▓▓██__________________________________________
__________________________██▓▓▓▓██______██▓▓██__________________________________________
________________________██▓▓▓▓██______██▓▓▓▓██__________________________________________
________________________██▓▓██______██▓▓▓▓██____________________________________________
________________________██▓▓▓▓██████▓▓▓▓██______________________________________________
__________________________██▓▓▓▓▓▓▓▓▓▓██________________________________________________
____________________________██████████_____________________Użyj panelu nawigacyjnego____
________________________________________________________________________________________
__________________________________________________na górze strony i zacznij skracać!____
________________________________________________________________________________________
________________________________________________________________________________________



    </pre>
    </div>
{% endblock %}
