{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.home'|trans }}
{% endblock %}

{% block body %}
    <div class="text-center">
    <pre>




________________________________________________________________________________________
________________________________________________________________________________________
________________________________________________________________________________________
_______{{ 'label.home_welcome'|trans }}________________________________________________________
______________________________________________________________▓▓▓▓▓▓____________________
__________________________________________________________▓▓▓▓░░░░▓▓____________________
________________________________________________________▓▓░░░░░░▓▓______________________
______________________██████████______________________▓▓░░░░░░▓▓________________________
____________________██▓▓▓▓▓▓▓▓▓▓██__________________▓▓░░░░░░▓▓__________________________
__________________██▓▓▓▓██████▓▓▓▓██______________▓▓░░░░░░▓▓____________________________
________________██▓▓▓▓██______██▓▓▓▓██__________▓▓░░░░░░▓▓______________________________
________________██▓▓▓▓██________██▓▓▓▓██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓______________
________________██▓▓▓▓▓▓████████▓▓▓▓▓▓▓▓██░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░▓▓______________
__________________██▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓██░░██░░░░░░░░░░░░░░░░░░░░░░▓▓▓▓________________
____________________██████████████████████░░░░░░▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓____________________
__________________________________████▓▓▓▓██░░▓▓________________________________________
________________________________██▓▓▓▓▓▓▓▓▓▓██__________________________________________
______________________________██▓▓▓▓████▓▓▓▓██__________________________________________
____________________________██▓▓▓▓██____██▓▓██__________________________________________
__________________________██▓▓▓▓██______██▓▓██__________________________________________
________________________██▓▓▓▓██______██▓▓▓▓██__________________________________________
________________________██▓▓██______██▓▓▓▓██____________________________________________
________________________██▓▓▓▓██████▓▓▓▓██______________________________________________
__________________________██▓▓▓▓▓▓▓▓▓▓██________________________________________________
____________________________██████████_______________{{ 'label.home_nav_welcome'|trans }}__
________________________________________________________________________________________
__________________________________________________{{ 'label.home_nav_welcome_down'|trans }}__
________________________________________________________________________________________
________________________________________________________________________________________



    </pre>
    </div>
{% endblock %}
